<ng-container>
  <kariaji-main-nav></kariaji-main-nav>
  <div class="main">
    <div class="container">
      <router-outlet></router-outlet>



      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <footer class="pt-4 border-top">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            Kariaji
            <small class="d-block mb-3 text-muted">&copy; {{year}}</small>
          </div>
          <!-- <div class="col-md-3 col-sm-12">
            <h5>Újdonságok</h5>
            <ul class="list-unstyled text-small">
              <li class="text-muted">Csoportok kezelése</li>
              <li><a  href="#">Ötletek szűrése</a></li>
              <li><a class="text-muted" href="#">Gyorsabb működés</a></li>
            </ul>
          </div> -->
          <div class="col-md-3 col-sm-12">
            <h5>Segítség</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" [routerLink]="['/doc']">Dokumentáció</a></li>
           
            </ul>
          </div>
          <div class="col-md-3 col-sm-12">
            <h5>Kapcsolat</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="http://github.com/markasztalos/kariaji">GitHub</a></li>
              <li><a class="text-muted" href="http://github.com/markasztalos/kariaji/issues/new">Hibajelentés, továbbfejlesztési ötletek</a></li>
              <!-- <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li> -->
            </ul>
          </div>
        </div>

      </footer>
    </div>
  </div>
</ng-container>
