<ng-container *ngIf="!(isNewIdeaDialogShown$ |async)">
  <kariaji-main-nav></kariaji-main-nav>

  <div class="main">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

<div class="container" style="margin-top:1em;margin-bottom:1em;" *ngIf="(isNewIdeaDialogShown$ |async)">
  <kariaji-idea-editor (finished)="onNewIdeaEditingFinished()"></kariaji-idea-editor>
  <br />
</div>




<!-- 

<main role="main" class="container">
  <div class="jumbotron">
    <h1> Kariaji</h1>
  </div>
</main>

<button (click)="test()">test</button> -->