<h2 mat-dialog-title>Új ötlet beküldése</h2>
<mat-dialog-content>
  <h4>Leírás</h4>
  <kariaji-rich-textarea #textEditor></kariaji-rich-textarea>
  <br />
  <h4 class="align-self-end">Csoportok
    <button (click)="addAllGroups()" color="accent" mat-icon-button title="Összes csoport hozzáadása" [disabled]="!(addableGroups && addableGroups.length)">
      <mat-icon>done_all</mat-icon>
    </button>
  </h4>
  <mat-divider></mat-divider>
  <br />
  <div class="d-flex align-items-center">
    <button mat-mini-fab [matMenuTriggerFor]="addGroupMenu" title="Csoport hozzáadása" [disabled]="!addableGroups.length">
      <mat-icon>group_add</mat-icon>
    </button>
    <mat-menu #addGroupMenu>
      <button mat-menu-item *ngFor="let g of addableGroups" (click)="addGroup(g)">
        <!-- {{g.displayName}} -->
        <kariaji-group-avatar [groupId]="g.id"></kariaji-group-avatar>
      </button>
    </mat-menu>
    <button color="warn" style="margin-left:3px; padding-left:4px;padding-right:4px;" mat-button *ngFor="let g of groupsAdded" (click)="removeGroup(g)">
      <div class="d-flex align-items-center">
        <mat-icon>delete</mat-icon>
        <kariaji-group-avatar [groupId]="g.id"></kariaji-group-avatar>
      </div>
    </button>
  </div>
  <br />
  <h4>Címzettek
    <button (click)="setMeAsOnlyTarget()" color="accent" mat-icon-button title="Csak nekem" [disabled]="!isSetMeAsOnlyTargetVisible">
      <mat-icon>done</mat-icon>
    </button>
  </h4>
  <mat-divider></mat-divider>
  <br />
  <div class="d-flex align-items-center">
    <button mat-mini-fab [matMenuTriggerFor]="addTargetMenu" color="primary" [disabled]="!addableUsers.length">
      <mat-icon>person_add</mat-icon>
    </button>
    <mat-menu #addTargetMenu>
      <button mat-menu-item *ngFor="let u of addableUsers" (click)="addUser(u)">
        <div class="d-flex align-items-center">
          <kariaji-user-avatar style="line-height:21px;" [userId]="u.id"></kariaji-user-avatar>
          <span class="flex-grow-1"></span>
        </div>
      </button>
    </mat-menu>
    <button color="warn" mat-button *ngFor="let u of usersAdded" style="padding-left:4px; padding-right:4px;margin-bottom:.5em;" (click)="removeUser(u)">
      <div class="d-flex align-items-center">
        <mat-icon>delete</mat-icon>
        <kariaji-user-avatar [userId]="u.id"></kariaji-user-avatar>
      </div>
    </button>
  </div>
  <h4 style="margin-top:1em;">A címzetteken kívül nem láthatják még</h4>
  <mat-divider></mat-divider>
  <br />
  <div>
    <button mat-mini-fab [matMenuTriggerFor]="addHiddenMenu" color="primary" [disabled]="!addableHiddenUsers.length">
      <mat-icon>person_add</mat-icon>
    </button>
    <mat-menu #addHiddenMenu>
      <button mat-menu-item *ngFor="let u of addableHiddenUsers" (click)="addHiddenUser(u)">
        <div class="d-flex align-items-center">
          <kariaji-user-avatar style="line-height:21px;" [userId]="u.id"></kariaji-user-avatar>
          <span class="flex-grow-1"></span>
        </div>
      </button>
    </mat-menu>
    <button color="warn" mat-button *ngFor="let u of addedHiddenUsers" style="padding-left:4px; padding-right:4px;margin-left:.5em;" (click)="removeHiddenUser(u)">
      <kariaji-user-avatar [userId]="u.id"></kariaji-user-avatar>
    </button>
  </div>
  <br />
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">VISSZA</button>
  <button mat-button (click)="create()" [disabled]="!usersAdded.length || sending" color="primary">LÉTREHOZÁS</button>
</mat-dialog-actions>