<ng-container *ngIf="detailedIdea && userId">
  <h2 mat-dialog-title>Részletek</h2>
  <mat-dialog-content>


    <h4>Címzett{{(detailedIdea.targetUserIds.length > 1) ? 'ek' : ''}}</h4>
    <mat-divider></mat-divider>
    <div class="d-flex align-items-center" style="margin-top:1em;">
      <kariaji-user-avatar style="margin-right:3px" [userId]="id" *ngFor="let id of detailedIdea.targetUserIds"></kariaji-user-avatar>
    </div>

    <br />
    <h4>Ötlet</h4>
    <mat-divider></mat-divider>
    <div *ngIf="detailedIdea.creatorUserId !== userId" style="margin-top:1em" [innerHtml]="getText(detailedIdea.textDelta)"></div>
    <div *ngIf="detailedIdea.creatorUserId === userId" class="d-flex align-items-center" style="margin-top:1em">
      <kariaji-rich-textarea #textEditor [content]="detailedIdea.textDelta" class="flex-grow-1"></kariaji-rich-textarea>
      <button mat-mini-fab style="margin-left:1em" (click)="editText()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <br />
    <h4>Feladó</h4>
    <mat-divider></mat-divider>
    <div class="d-flex align-items-center" style="margin-top:1em;">
      <kariaji-user-avatar [userId]="detailedIdea.creatorUserId"></kariaji-user-avatar>
    </div>

    <br />
    <h4>Időpont</h4>
    <mat-divider></mat-divider>
    <div style="margin-top:1em">
      {{detailedIdea.creationTime}}
    </div>







    <br />
    <h4>Csoportok</h4>
    <mat-divider></mat-divider>
    <div style="margin-top:1em" class="d-flex align-items-center">
      <kariaji-group-avatar style="margin-right:3px" [groupId]="id" *ngFor="let id of detailedIdea.targetGroupIds"></kariaji-group-avatar>
    </div>

    <ng-container *ngIf="detailedIdea.secretUserIds && detailedIdea.secretUserIds.length">
      <br />
      <h4>Az ajándékot a címzetteken kívül nem láthatják még</h4>
      <mat-divider></mat-divider>
      <div style="margin-top:1em">
        <kariaji-user-avatar [userId]="id" *ngFor="let id of detailedIdea.secretUserIds"></kariaji-user-avatar>
      </div>
      <br />
    </ng-container>

    <ng-container *ngIf="canReserve(detailedIdea) ">
      <br />
      <h4>Foglalás</h4>
      <mat-divider></mat-divider>
      <div style="margin-top:1em">
        <div *ngIf="!detailedIdea.isReserved">Ez az ötlet még nincs lefoglalva</div>
        <button style="margin-top:1em" *ngIf="!detailedIdea.isReserved" mat-raised-button color="accent" (click)="reserve(detailedIdea)">Lefoglalom</button>
        <div *ngIf="detailedIdea.isReserved && !detailedIdea.reservation">Más már lefoglalta</div>
        <ng-container *ngIf="detailedIdea.reservation && (detailedIdea.reservation.reserverUserId === userId)">
          <div>Már lefoglaltad</div>

          <div style="margin-top:1em">
            <mat-slide-toggle  color="primary" [checked]="detailedIdea.reservation.canJoin" (change)="updateCanJoin(detailedIdea.reservation)">
              Lehet csatlakozni?
            </mat-slide-toggle>
          </div>

          <button mat-raised-button style="margin-top:1em" color="warn" (click)="deleteReservation(detailedIdea)">Foglalás törlése</button>
        </ng-container>

        <ng-container *ngIf="detailedIdea.reservation && (detailedIdea.reservation.reserverUserId !== userId)">
          <div class="d-flex flex-row align-items-center">
            <kariaji-user-avatar size="30" [userId]="detailedIdea.reservation.reserverUserId"></kariaji-user-avatar>
            <span>&nbsp;már lefoglalta{{getTextIfCanJoinForOthersReservation(detailedIdea.reservation)}}</span>
          </div>

          <br />
          <h4>Csatlakozások</h4>
          <mat-divider></mat-divider>
          <div style="margin-top:1em;" *ngIf="detailedIdea.reservation.reserverUserId !== userId" class="d-flex flex-row align-items-center">
            <div *ngIf="detailedIdea.reservation.joinedUserIds && (detailedIdea.reservation.joinedUserIds.indexOf(userId)>=0)">Már csatlakoztál</div>

            <button style="margin-left:1em;" mat-raised-button *ngIf="detailedIdea.reservation.joinedUserIds && (detailedIdea.reservation.joinedUserIds.indexOf(userId)>=0)" (click)="removeJoin(detailedIdea.reservation, userId)">Visszavonom a csatlakozást</button>



            <div *ngIf="detailedIdea.reservation.joinedUserIds && (detailedIdea.reservation.joinedUserIds.indexOf(userId)<0)">Még nem csatlakoztál</div>

            <button style="margin-left:1em;" *ngIf="detailedIdea.reservation.joinedUserIds && (detailedIdea.reservation.joinedUserIds.indexOf(userId)<0)" mat-raised-button (click)="join(detailedIdea.reservation)">Csatlakozom</button>

          </div>
          <div style="margin-top:1em;" class="d-flex flex-column" *ngIf="detailedIdea.reservation.joinedUserIds">
            <div *ngFor="let joinedUserId of detailedIdea.reservation.joinedUserIds" class="d-flex flex-row">
              <ng-container *ngIf="joinedUserId !== userId">
                <kariaji-user-avatar [userId]="joinedUserId"> </kariaji-user-avatar>
                <button mat-mini-fab style="margin-left:2em" color="warn" (click)="removeJoin(detailedIdea.reservation, joinedUserId)" *ngIf="(joinedUserId === userId) ||(userId === detailedIdea.reservation.reserverUserId)">
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>

    </ng-container>
    <ng-container *ngIf="detailedIdea.comments">
      <br />
      <h4>Megjegyzések</h4>
      <mat-divider></mat-divider>
      <div style="margin-top:1em">
        <ng-container *ngFor="let comment of detailedIdea.comments">
          <!-- <div class="d-flex flex-row" style="margin-left:1em;margin-top:1em">
              <span style="font-size:smaller;border-bottom:1px solid lightgray">{{comment.creationTime}}</span>
            </div> -->
          <div style="margin-left: 1em" class="d-flex align-items-center flex-wrap" title="{{comment.creationTime}}">
            <kariaji-user-avatar [userId]="comment.userId"></kariaji-user-avatar>

            <div style="margin-left:3px" [innerHtml]="getText(comment.textDelta)" class="user-text align-self-center flex-grow-1"></div>

            <span class="badge badge-secondary">{{comment.creationTime}}</span>
            <button *ngIf="comment.userId === (userId$ | async)" title="Törlés" mat-mini-fab color="warn" (click)="deleteComment(detailedIdea, comment)" style="margin-left:1em;">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
        <span *ngIf="!detailedIdea.comments.length">Nincsenek megjegyzések</span>
        <div style="margin-left:1em; margin-top:1em;" class="d-flex align-items-center">
          <kariaji-rich-textarea class="flex-grow-1" #newCommentTextArea></kariaji-rich-textarea>
          <button mat-mini-fab style="margin-left:1em;" color="primary" title="Küldés" (click)="sendComment()">
            <mat-icon>send</mat-icon>
          </button>
        </div>

      </div>
    </ng-container>
    <br />
    <br />
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="cancel()">VISSZA</button>
  </mat-dialog-actions>
</ng-container>