<button mat-mini-fab (click)="refreshList()">
  <mat-icon>refresh</mat-icon>
</button>

<mat-spinner *ngIf="!(ideas$ | async)"></mat-spinner>
<ng-container *ngFor="let idea of (ideas$ | async)">
  <mat-card style="margin-top: .8em;">
    <mat-card-content>
      <!-- <span style="font-size:smaller;border-bottom:1px solid lightgray">{{idea.creationTime}}</span> -->
      <div class="d-md-flex flex-row align-items-center">
        <div class="d-flex flex-column" style="padding-right: 1em; border-right: 1px solid lightgray; " title="Címzettek">
          <kariaji-user-avatar style="margin-top:4px;" [userId]="id" *ngFor="let id of idea.targetUserIds"></kariaji-user-avatar>
        </div>
        <!-- <mat-icon style="margin-top:4px;">drag_indicator</mat-icon> -->
        <div style="margin-left:1em;margin-top:4px;" class="align-self-center flex-grow-1 user-text" [innerHtml]="getText(idea.textDelta)"></div>
        <span style="font-size: smaller">{{idea.creationTime}}</span>
        <button style="margin-left:1em;" color="accent" mat-mini-fab title="Részletek" (click)="showDetailsOfIdea(idea)">
          <mat-icon [matBadge]="idea.comments ? idea.comments.length : ''" [matBadgeHidden]="!idea.comments || !idea.comments.length" matBadgeColor="primary">info</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #ideaDetailsDialogTemplate>
  <h2 mat-dialog-title>Részletek</h2>
  <mat-dialog-content style="min-width: 600px;">

    <h4>Feladó</h4>
    <mat-divider></mat-divider>
    <div style="margin-top:1em;">
      <kariaji-user-avatar [userId]="detailedIdea.creatorUserId"></kariaji-user-avatar>
    </div>

    <br />
    <h4>Időpont</h4>
    <mat-divider></mat-divider>
    <div style="margin-top:1em">
      {{detailedIdea.creationTime}}
    </div>

    <br />
    <h4>Címzett(ek)</h4>
    <mat-divider></mat-divider>
    <div class="d-flex align-items-center" style="margin-top:1em;">
      <kariaji-user-avatar style="margin-right:1em" [userId]="id" *ngFor="let id of detailedIdea.targetUserIds"></kariaji-user-avatar>
    </div>

    <br />
    <h4>Ötlet</h4>
    <mat-divider></mat-divider>
    <div style="margin-top:1em" [innerHtml]="getText(detailedIdea.textDelta)"></div>

    <br />
    <h4>Csoportok</h4>
    <mat-divider></mat-divider>
    <div style="margin-top:1em" class="d-flex align-items-center">
      <kariaji-group-avatar style="margin-right:1em" [groupId]="id" *ngFor="let id of detailedIdea.targetGroupIds"></kariaji-group-avatar>
    </div>

    <ng-container *ngIf="detailedIdea.secretUserIds && detailedIdea.secretUserIds.length">
      <br />
      <h4>Az ajándékot a címzetteken kívül nem láthatják még</h4>
      <mat-divider></mat-divider>
      <div style="margin-top:1em">
        <kariaji-user-avatar [userId]="id" *ngFor="let id of detailedIdea.secretUserIds"></kariaji-user-avatar>
      </div>
      <br />
    </ng-container>

    <ng-container *ngIf="detailedIdea.comments">
      <br />
      <h4>Megjegyzések</h4>
      <mat-divider></mat-divider>
      <div style="margin-top:1em">
        <ng-container *ngFor="let comment of detailedIdea.comments">
          <div class="d-flex flex-row" style="margin-left:1em;margin-top:1em">
            <span style="font-size:smaller;border-bottom:1px solid lightgray">{{comment.creationTime}}</span>
          </div>
          <div style="margin-left: 1em" class="d-flex align-items-center" title="{{comment.creationTime}}">
            <kariaji-user-avatar style="padding-right:1em; border-right: 0px solid lightgray;" [userId]="comment.userId"></kariaji-user-avatar>

            <div style="margin-left:1em" [innerHtml]="getText(comment.textDelta)" class="user-text align-self-center"></div>
            <button *ngIf="comment.userId === (userId$ | async)" title="Törlés" mat-mini-fab color="warn" (click)="deleteComment(detailedIdea, comment)" style="margin-left:auto;">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
        <div style="margin-left:1em; margin-top:1em;" class="d-flex align-items-center">
          <kariaji-rich-textarea class="flex-grow-1" #newCommentTextArea></kariaji-rich-textarea>
          <button mat-mini-fab style="margin-left:1em;" color="primary" title="Küldés" (click)="sendComment()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
        <span *ngIf="!detailedIdea.comments.length">Nincsenek megjegyzések</span>
      </div>
    </ng-container>
    <br />
    <br />
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Vissza</button>
  </mat-dialog-actions>
</ng-template>