<div class="row">
    <div class="col-md-6 col-sm-12" style="margin-bottom:1em">
        <kariaji-my-account style="width:100%;"></kariaji-my-account>
        <br />
        <mat-card class="w-100">
            <mat-card-title>
                Kép feltöltése
            </mat-card-title>
            <mat-card-content>
                <kariaji-avatar-selector [userId]="userId$ | async" style="width:100%;"></kariaji-avatar-selector>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>


    <kariaji-update-password class="col-md-6 col-sm-12" style="margin-bottom:1em"></kariaji-update-password>




</div>